# Luogu P4000 Test Information

## Test Contents

### Only Problem Text (1)

1. ChatGPT o1
    - Thinking Time: 26s
    - [Answer](./Part1/ChatGPT_o1.md)
    - [CoT](./Part1/ChatGPT_o1_CoT.md)
    - Code: No code
    - Score: No score

### With Programming Language Restriction (2)

1. ChatGPT o1
    - Thinking Time: 40s
    - [Answer](./Part2/ChatGPT_o1.md)
    - [CoT](./Part2/ChatGPT_o1_CoT.md)
    - [Code](./Part2/CharGPT_o1_Code.md)
    - Score: 53 (15AC 12TLE 0WA)

### With WA and TLE report (3)

### With Full Mark Answer (4)

### With Full Mark Idea (5)

### With Near Full Mark Answer (6)

### With Near Full Mark Idea (7)
